<h1>Of and From</h1>
<div class="row">
    <div class="col-md-6">
        <b>Example 1: Of</b>
        <hr>
        <b>normal sequence</b>
        <p class="border rounded bg-info py-2 px-2">'Amez', 'Rhea', 'Sam'</p>
        <ul class="" id="ul-id">
           changes
        </ul>
        <hr>
    </div>
    <div class="col-md-6">
        <b>Example 2: Of</b>
        <hr>
        <b>Object</b>
        <p class="border rounded bg-info py-2 px-2">&#123; 'Amez', 'Rhea', 'Sam' &#125;</p>
        <ul class="" id="ul-id-obj">
        <li>{{objdata.a}}</li>
        <li>{{objdata.b}}</li>
        <li>{{objdata.c}}</li>
        </ul>
        <hr>
    </div>
<hr>
<div class="col-md-4">
    <b>Example 1: From</b>
    <hr>
    <b>Array</b>
    <p class="border rounded bg-info py-2 px-2">['Amez', 'Rhea', 'Sam' ]</p>
    <ul class="" id="ul-id-arr">
    
    </ul>
    <hr>
</div>
<div class="col-md-4">
    <b>Example 2: From</b>
    <hr>
    <b>Promise</b>
    <p class="border rounded bg-info py-2 px-2">Promise to Observale</p>
    <ul class="" id="ul-id-promise">
    
    </ul>
    <hr>
</div>
<div class="col-md-4">
    <b>Example 3: From</b>
    <hr>
    <b>Promise</b>
    <p class="border rounded bg-info py-2 px-2">String to Observale</p>
    <ul class="" id="ul-id-str">
    
    </ul>
    <hr>
</div>
</div>

