<style>
    .card-title {
      background-color: gray;
      color: white;
      border: 1px solid black;
      padding: 5px;
      border-radius: 4px;
    }
  </style>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Winter</h5>
      <p>Greetings from <span class="text-info">kareena</span></p>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Enter name"
        id=""
      />
      <a href="#" class="btn btn-primary">Change</a>
    </div>
  </div>
  
