<h1>mapp works!</h1>

<h1>Of and From</h1>

<div class="row">
    <div class="col-md-4">
        <b>Example 1: </b>
        <hr>
        
        <p class="border rounded bg-light py-2 px-2">Map =video+ data</p>
        <p class="border rounded bg-light py-2 px-2">Mapped value:<b>{{msg}}</b></p>
        
    </div>
    
    
        <div class="col-md-4">
            <b>Example 2: </b>
            <hr>
            
            <p class="border rounded bg-light py-2 px-2">Map = data+10</p>
            <p class="border rounded bg-light py-2 px-2">Mapped Value:<b>{{msg2}}</b></p>
            
        </div>
        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-2">Map = name only from object </p>

            <b>Example 3: </b>
            <hr>
            <ul id="ul-id"></ul>
            
        </div>
    


    
</div>
