<h1 class="center">List</h1>
<div class="row">
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/obs/form-event">Form Event</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs  "><a routerLink="/interval">interval</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/of">Of and From</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/to-array">To Array</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/customObs">Custom Observable</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/map">Map Operator</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/retry">Retry,RetryWhen Operator</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/debounce">Debounce and distinct Until Changed</a></div>
    <div class="mx-1 my-3 col-md-2 list-divs"><a routerLink="/subject">Subject and BehaviourSubject</a></div>

</div>