<style>
  .card-title {
    background-color: gray;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
  }
</style>
<p>concat works!</p>
<div class="row">
  <div class="col-md-4">
    <b>Source 1 | Tech Videos(5) </b>
    <hr />

    <p class="border rounded bg-light py-2 px-2">Tech videos:(1,2,3,4,5)<b></b></p>
  </div>

  <div class="col-md-4">
    <b>Source 2 | Comedy Videos(2) </b>
    <hr />

    <p class="border rounded bg-light py-2 px-2">Comedy videos:(1,2)<b></b></p>
  </div>
  <div class="col-md-4">
    <b>Source 3 | News Videos(4) </b>

    <hr />
    <p class="border rounded bg-light py-2 px-2">
      News videos:(1,2,3,4)<b></b>
    </p>

    <ul id="ul-id"></ul>
  </div>
</div>
<div class="row justify-content-center">
    <div class="card " style="width: 30rem">
        <div class="card-body">
          <h5 class="card-title">Videos from your Subscribed Channels</h5>
          <ul id="ul-container">
          </ul>
        </div>
      </div>
</div>


